body{
    background-color: rgb(50, 50, 50);
    margin: 0;
}

/* TABLEAU */
table{
    margin: auto;
}

.container-french {
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    font-size: 56px;
    font-family: sans-serif;
}
.container-english{
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    font-size: 56px;
    font-family: sans-serif;
}
.container-korean{
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
}
.container-chinese{
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
}
.container-spanish {
    margin: auto;
    padding: 60px 20px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.dark{
    color:rgb(65, 65, 65);
    text-align: center;
}

.light{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 30px white ;
}

/* LANGUES */
.langues-container{
    margin: 0;
    box-shadow: 0 1px 5px rgba(80, 80, 80, 0.5);
}
.langues-group{
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: auto;
}
.langues-item{
    padding: 0px 10px;
    text-align: center;
    margin: auto;
    
    cursor: pointer;
}
.langues-item a{
    text-decoration: none;
    font-size: 15px;
    color: #464646;
    text-transform: uppercase;
    font-family: sans-serif;
}
.langues-item a:hover{
    color: #fff;
    text-shadow: 0px 0px 30px white ;
}
.langue-active a{
    color: #8d8d8d;
    text-shadow: 0px 0px 30px white ;
}

/* MEDIA */

@media screen and (max-width: 700px){
    .container-french {
        font-size: 40px;
    }
    .container-english{
        font-size: 40px;
    }
    .container-korean{
        font-size: 50px;
    }
    .container-chinese{
        font-size: 50px;
    }
    .container-spanish {
        font-size: 35px;
    }
}

@media screen and (max-width: 450px){
    .container-french {
        font-size: 26px;
    }
    .container-english{
        font-size: 26px;
    }
    .container-korean{
        font-size: 30px;
    }
    .container-chinese{
        font-size: 40px;
    }
    .container-spanish {
        font-size: 24px;
    }
}

@media screen and (max-width: 300px){
    .container-french {
        font-size: 18px;
    }
    .container-english{
        font-size: 18px;
    }
    .container-korean{
        font-size: 20px;
    }
    .container-chinese{
        font-size: 20px;
    }
    .container-spanish {
        font-size: 16px;
    }
}

